<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>농심 레드포스</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'totogg/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'totogg/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				{% include 'totogg/mainmenu.html' %}
				<header id="header">
					<div class="inner">
						<!-- Logo -->
							<a href="/team/ns" class="logo">
								<span class="symbol"><img src="{% static 'totogg/images/ns_logo.png' %}" alt="" /></span><span class="title" style=" color: rgb(136, 43, 43)">농심 레드포스</span>
							</a>
					</div>
				</header>
				

				<!-- Main -->
					<div id="main">
						<div class="inner">
							
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="{% static 'totogg/images/canna.png' %}" alt="" />
									</span>
									<a href="/team/ns_T">
										<h2>canna </h2>
										<div class="content">
											<p>2000. 2. 11 <br>김창동<br>Canna00</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="{% static 'totogg/images/dread.png' %}" alt="" />
									</span>
									<a href="/team/ns_J">
										<h2>dread </h2>
										<div class="content">
											<p>2000. 6. 7 <br>이진혁
												<br>오리지널찰떡쿠키</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="{% static 'totogg/images/bdd.png' %}" alt="" />
									</span>
									<a href="/team/ns_M">
										<h2>bdd </h2>
										<div class="content">
											<p>1999. 3. 1<br>곽보성<br>저사람뭔데에에에</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="{% static 'totogg/images/ghost.png' %}" alt="" />
									</span>
									<a href="/team/ns_A">
										<h2>ghost </h2>
										<div class="content">
											<p>1999. 3. 18 <br>장용준<br>농고심스트</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="{% static 'totogg/images/effort.png' %}" alt="" />
									</span>
									<a href="/team/ns_S">
										<h2>effort</h2>
										<div class="content">
											<p>2000. 11. 23 <br>이상호<br>레전드오브롤1244</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

				

			</div>

		<!-- Scripts -->
			<script src="{% static 'totogg/js/jquery.min.js' %}"></script>
			<script src="{% static 'totogg/js/browser.min.js' %}"></script>
			<script src="{% static 'totogg/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'totogg/js/util.js' %}"></script>
			<script src="{% static 'totogg/js/main.js' %}"></script>

	</body>
</html>