<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>kt 롤스터</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'totogg/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'totogg/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				{% include 'totogg/mainmenu.html' %}
				<header id="header">
					<div class="inner">
						<!-- Logo -->
							<a href="/team/kt" class="logo">
								<span class="symbol"><img src="{% static 'totogg/images/kt_logo.png' %}" alt="" /></span><span class="title" style=" color: rgb(255, 0, 0)">kt 롤스터</span>
							</a>
					</div>
				</header>
				

				<!-- Main -->
					<div id="main">
						<div class="inner">
							
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="{% static 'totogg/images/rascal.png' %}" alt="" />
									</span>
									<a href="/team/kt_T">
										<h2>rascal</h2>
										<div class="content">
											<p>1997.10.16 <br>김광희<br>리바이병장</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="{% static 'totogg/images/cuzz.png' %}" alt="" />
									</span>
									<a href="/team/kt_J">
										<h2>cuzz </h2>
										<div class="content">
											<p>1999. 10. 30<br>문우찬<br>Cuzz</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="{% static 'totogg/images/aria.png' %}" alt="" />
									</span>
									<a href="/team/kt_M">
										<h2>aria</h2>
										<div class="content">
											<p>2000. 10. 14 <br>이가을<br>오늘도잠에든다</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="{% static 'totogg/images/aiming.png' %}" alt="" />
									</span>
									<a href="/team/kt_A">
										<h2>aiming</h2>
										<div class="content">
											<p>2000. 7. 20<br>김하람<br>강미나</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="{% static 'totogg/images/life.png' %}" alt="" />
									</span>
									<a href="/team/kt_S">
										<h2>life</h2>
										<div class="content">
											<p>2000. 7. 7<br>김정민<br>Rascal</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

				

			</div>

		<!-- Scripts -->
			<script src="{% static 'totogg/js/jquery.min.js' %}"></script>
			<script src="{% static 'totogg/js/browser.min.js' %}"></script>
			<script src="{% static 'totogg/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'totogg/js/util.js' %}"></script>
			<script src="{% static 'totogg/js/main.js' %}"></script>

	</body>
</html>