<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>DK</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'totogg/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'totogg/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				{% include 'totogg/mainmenu.html' %}
				<header id="header">
					<div class="inner">
						<!-- Logo -->
							<a href="/team/dk" class="logo">
								<span class="symbol"><img src="{% static 'totogg/images/dk_logo.png' %}" alt="" /></span><span class="title" style=" color: rgb(22, 200, 182)">담원 기아</span>
							</a>
					</div>
				</header>
				

				<!-- Main -->
					<div id="main">
						<div class="inner">
							
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="{% static 'totogg/images/nuguri.png' %}" alt="" />
									</span>
									<a href="/team/dk_T">
										<h2>Nuguri</h2>
										<div class="content">
											<p>1999.07.17 <br>장하권<br>늘완벽하고싶다</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="{% static 'totogg/images/canyon.png' %}" alt="" />
									</span>
									<a href="/team/dk_J">
										<h2>Canyon</h2>
										<div class="content">
											<p>2001.06.18 <br>김건부<br>JUGKING</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="{% static 'totogg/images/showmaker.png' %}" alt="" />
									</span>
									<a href="/team/dk_M">
										<h2>Showmaker</h2>
										<div class="content">
											<p>2000.07.22 <br>허수<br>DKShowMaker</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="{% static 'totogg/images/deokdam.png' %}" alt="" />
									</span>
									<a href="/team/dk_A">
										<h2>Deokdam</h2>
										<div class="content">
											<p>2000.02.25 <br>서대길<br>아직은무겁다</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="{% static 'totogg/images/kellin.webp' %}" alt="" />
									</span>
									<a href="/team/dk_S">
										<h2>Kellin</h2>
										<div class="content">
											<p>2001.02.01 <br>김형규<br>참새크면비둘기</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

				

			</div>

		<!-- Scripts -->
			<script src="{% static 'totogg/js/jquery.min.js' %}"></script>
			<script src="{% static 'totogg/js/browser.min.js' %}"></script>
			<script src="{% static 'totogg/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'totogg/js/util.js' %}"></script>
			<script src="{% static 'totogg/js/main.js' %}"></script>

	</body>
</html>