<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>DRX</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'totogg/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'totogg/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				{% include 'totogg/mainmenu.html' %}
				<header id="header">
					<div class="inner">
						<!-- Logo -->
							<a href="/team/drx" class="logo">
								<span class="symbol"><img src="{% static 'totogg/images/drx_logo.png' %}" alt="" /></span><span class="title" style=" color: rgb(62, 55, 252)">DRX</span>
							</a>
					</div>
				</header>
				

				<!-- Main -->
					<div id="main">
						<div class="inner">
							
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="{% static 'totogg/images/kingen.png' %}" alt="" />
									</span>
									<a href="/team/drx_T">
										<h2>kingen</h2>
										<div class="content">
											<p>2000. 3. 11<br>황성훈<br>kingen</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="{% static 'totogg/images/pyosik.png' %}" alt="" />
									</span>
									<a href="/team/drx_J">
										<h2>pyosik</h2>
										<div class="content">
											<p>2000. 3. 12 <br>홍창현<br>베란다가5리</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="{% static 'totogg/images/zeka.png' %}" alt="" />
									</span>
									<a href="/team/drx_M">
										<h2>zeka</h2>
										<div class="content">
											<p>2002. 11. 28 <br>김건우<br>베란다거북이</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="{% static 'totogg/images/deft.png' %}" alt="" />
									</span>
									<a href="/team/drx_A">
										<h2>deft</h2>
										<div class="content">
											<p>1996. 10. 23<br>김혁규<br>베란다고양이</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="{% static 'totogg/images/beryl.png' %}" alt="" />
									</span>
									<a href="/team/drx_S">
										<h2>beryl</h2>
										<div class="content">
											<p>1997. 4. 1 <br>조건희<br>율자주세요</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

				

			</div>

		<!-- Scripts -->
			<script src="{% static 'totogg/js/jquery.min.js' %}"></script>
			<script src="{% static 'totogg/js/browser.min.js' %}"></script>
			<script src="{% static 'totogg/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'totogg/js/util.js' %}"></script>
			<script src="{% static 'totogg/js/main.js' %}"></script>

	</body>
</html>