<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Data Visualization</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" href="{% static 'totogg/images/t1logo_fa.ico' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'totogg/css/main.css' %}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<noscript><link rel="stylesheet" href="{% static 'totogg/css/noscript.css' %}" /></noscript>
	</head>
    <body class="is-preload">
		<div id="wrapper">
        {% include 'totogg/mainmenu.html' %}
		<!-- Main -->
		<div id="main">
			<div class="inner">
				<!-- Text -->
                <h2>2022 LCK SUMMER Chart</h2>
                <div class="chart">
                <canvas id="rate" width="400" height="200"></canvas>
                <script type="text/javascript">
                    var context = document
                        .getElementById('rate')
                        .getContext('2d');
                    var myChart = new Chart(context, {
                        type: 'bar', // 차트의 형태
                        data: { // 차트에 들어갈 데이터
                            labels: [
                                //x 축
                                {% for data in datas %}'{{ data.tname }}',{% endfor%}
                            ],
                            datasets: [
                                { //데이터
                                    label: '승률', //차트 제목
                                    fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                                    data: [{% for data in datas %}'{{ data.rate }}',{% endfor%}
                                    
                                    //x축 label에 대응되는 데이터 값
                                    ],
		
									
                                    backgroundColor: [
                                        //색상
                                        'rgba(11, 90, 19, 0.7)', //bro
                                        'rgba(22, 200, 182, 0.7)', //dk
                                        'rgba(62, 55, 252, 0.7)', //drx
                                        'rgba(181, 119, 18, 0.7)', //gen
                                        'rgba(230, 115, 15, 0.7)', //hle
                                        'rgba(238, 80, 20, 0.7)', //kdf
                                        'rgba(255, 0, 0, 0.7)', //kt
                                        'rgba(227, 187, 7, 0.7)', //lsb
                                        'rgba(136, 43, 43, 0.7)', //ns
                                        'rgba(200, 15, 15, 0.7)', //t1
                                    ],
                                    borderColor: [
                                        //경계선 색상
                                        'rgba(11, 90, 19, 1)', //bro
                                        'rgba(22, 200, 182, 1)', //dk
                                        'rgba(62, 55, 252, 1)', //drx
                                        'rgba(181, 119, 18, 1)', //gen
                                        'rgba(230, 115, 15, 1)', //hle
                                        'rgba(238, 80, 20, 1)', //kdf
                                        'rgba(255, 0, 0, 1)', //kt
                                        'rgba(227, 187, 7, 1)', //lsb
                                        'rgba(136, 43, 43, 1)', //ns
                                        'rgba(200, 15, 15, 1)', //t1
                                    ],
                                    borderWidth: 1 //경계선 굵기
                                }
                            ]
                        },
                                options: {
                                    title: {
                                                        display: true,
                                                        text: '『 각 게임 승률 』',
                                                        fontSize: 30,
                                                        fontColor: 'rgba(255, 255, 255, 1)'
                                                    },
                                    
                                    legend: {
                                        labels: {
                                            fontColor: 'rgba(255, 255, 255, 1)',
                                                            
                                            fontSize : 20
                                        }
                                    },
                                    scales: {
                                        xAxes: [{
                                            ticks: {
                                                fontColor: 'rgba(255, 255, 255, 1)',
                                                fontSize: 20
                                            },
                                            gridLines:{
						                        color: "rgba(255, 255, 255, 1)",
						                        lineWidth: 1
					}       
                                        }],
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true,
                                                fontColor: 'rgba(255, 255, 255, 1)',
                                                fontSize: 20
                                            },
                                            gridLines:{
						                        color: "rgba(255, 255, 255, 1)",
						                        lineWidth: 1
					}
                                }]
                            }
                        }
                    });
                </script>
                </div>

                <div class="chart">
                
                <canvas id="kill" width="400" height="200"></canvas>
                <script type="text/javascript">
                    var context = document
                        .getElementById('kill')
                        .getContext('2d');
                    var myChart = new Chart(context, {
                        type: 'bar', // 차트의 형태
                        data: { // 차트에 들어갈 데이터
                            labels: [
                                //x 축
                                {% for data in datas %}'{{ data.tname }}',{% endfor%}
                            ],
                            datasets: [
                                { //데이터
                                    label: '킬', //차트 제목
                                    fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                                    data: [{% for data in datas %}'{{ data.kill }}',{% endfor%}
                                    
                                    //x축 label에 대응되는 데이터 값
                                    ],
		
									
                                    backgroundColor: [
                                        //색상
                                        'rgba(11, 90, 19, 0.7)', //bro
                                        'rgba(22, 200, 182, 0.7)', //dk
                                        'rgba(62, 55, 252, 0.7)', //drx
                                        'rgba(181, 119, 18, 0.7)', //gen
                                        'rgba(230, 115, 15, 0.7)', //hle
                                        'rgba(238, 80, 20, 0.7)', //kdf
                                        'rgba(255, 0, 0, 0.7)', //kt
                                        'rgba(227, 187, 7, 0.7)', //lsb
                                        'rgba(136, 43, 43, 0.7)', //ns
                                        'rgba(200, 15, 15, 0.7)', //t1
                                    ],
                                    borderColor: [
                                        //경계선 색상
                                        'rgba(11, 90, 19, 1)', //bro
                                        'rgba(22, 200, 182, 1)', //dk
                                        'rgba(62, 55, 252, 1)', //drx
                                        'rgba(181, 119, 18, 1)', //gen
                                        'rgba(230, 115, 15, 1)', //hle
                                        'rgba(238, 80, 20, 1)', //kdf
                                        'rgba(255, 0, 0, 1)', //kt
                                        'rgba(227, 187, 7, 1)', //lsb
                                        'rgba(136, 43, 43, 1)', //ns
                                        'rgba(200, 15, 15, 1)', //t1
                                    ],
                                    borderWidth: 1 //경계선 굵기
                                }
                            ]
                        },
                        options: {
                                    title: {
                                                        display: true,
                                                        text: '『 게임당 평균 팀 총합 킬 』',
                                                        fontSize: 30,
                                                        fontColor: 'rgba(255, 255, 255, 1)'
                                                    },
                                    
                                    legend: {
                                        labels: {
                                            fontColor: 'rgba(255, 255, 255, 1)',
                                                            
                                            fontSize : 20
                                        }
                                    },
                                    scales: {
                                        xAxes: [{
                                            ticks: {
                                                fontColor: 'rgba(255, 255, 255, 1)',
                                                fontSize: 20
                                            },
                                            gridLines:{
						                        color: "rgba(255, 255, 255, 1)",
						                        lineWidth: 1
					}       
                                        }],
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true,
                                                fontColor: 'rgba(255, 255, 255, 1)',
                                                fontSize: 20
                                            },
                                            gridLines:{
						                        color: "rgba(255, 255, 255, 1)",
						                        lineWidth: 1
					}
                                }]
                            }
                        }
                    });
                </script>
               </div>
               <div class="chart">
                <canvas id="gold" width="400" height="200"></canvas>
                <script type="text/javascript">
                    var context = document
                        .getElementById('gold')
                        .getContext('2d');
                    var myChart = new Chart(context, {
                        type: 'bar', // 차트의 형태
                        data: { // 차트에 들어갈 데이터
                            labels: [
                                //x 축
                                {% for data in datas %}'{{ data.tname }}',{% endfor%}
                            ],
                            datasets: [
                                { //데이터
                                    label: '골드', //차트 제목
                                    fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                                    data: [{% for data in datas %}'{{ data.gold }}',{% endfor%}
                                    
                                    //x축 label에 대응되는 데이터 값
                                    ],
		
									
                                    backgroundColor: [
                                        //색상
                                        'rgba(11, 90, 19, 0.7)', //bro
                                        'rgba(22, 200, 182, 0.7)', //dk
                                        'rgba(62, 55, 252, 0.7)', //drx
                                        'rgba(181, 119, 18, 0.7)', //gen
                                        'rgba(230, 115, 15, 0.7)', //hle
                                        'rgba(238, 80, 20, 0.7)', //kdf
                                        'rgba(255, 0, 0, 0.7)', //kt
                                        'rgba(227, 187, 7, 0.7)', //lsb
                                        'rgba(136, 43, 43, 0.7)', //ns
                                        'rgba(200, 15, 15, 0.7)', //t1
                                    ],
                                    borderColor: [
                                        //경계선 색상
                                        'rgba(11, 90, 19, 1)', //bro
                                        'rgba(22, 200, 182, 1)', //dk
                                        'rgba(62, 55, 252, 1)', //drx
                                        'rgba(181, 119, 18, 1)', //gen
                                        'rgba(230, 115, 15, 1)', //hle
                                        'rgba(238, 80, 20, 1)', //kdf
                                        'rgba(255, 0, 0, 1)', //kt
                                        'rgba(227, 187, 7, 1)', //lsb
                                        'rgba(136, 43, 43, 1)', //ns
                                        'rgba(200, 15, 15, 1)', //t1
                                    ],
                                    borderWidth: 1 //경계선 굵기
                                }
                            ]
                        },
                        options: {
                                    title: {
                                                        display: true,
                                                        text: '『 게임당 평균 골드 획득량 』',
                                                        fontSize: 30,
                                                        fontColor: 'rgba(255, 255, 255, 1)'
                                                    },
                                    
                                    legend: {
                                        labels: {
                                            fontColor: 'rgba(255, 255, 255, 1)',
                                                            
                                            fontSize : 20
                                        }
                                    },
                                    scales: {
                                        xAxes: [{
                                            ticks: {
                                                fontColor: 'rgba(255, 255, 255, 1)',
                                                fontSize: 20
                                            },
                                            gridLines:{
						                        color: "rgba(255, 255, 255, 1)",
						                        lineWidth: 1
					}       
                                        }],
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true,
                                                fontColor: 'rgba(255, 255, 255, 1)',
                                                fontSize: 20
                                            },
                                            gridLines:{
						                        color: "rgba(255, 255, 255, 1)",
						                        lineWidth: 1
					}
                                }]
                            }
                        }
                    });
                </script>
                </div>
                <div class="chart">
                <canvas id="baron" width="400" height="200"></canvas>
                <script type="text/javascript">
                    var context = document
                        .getElementById('baron')
                        .getContext('2d');
                    var myChart = new Chart(context, {
                        type: 'bar', // 차트의 형태
                        data: { // 차트에 들어갈 데이터
                            labels: [
                                //x 축
                                {% for data in datas %}'{{ data.tname }}',{% endfor%}
                            ],
                            datasets: [
                                { //데이터
                                    label: '바론', //차트 제목
                                    fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                                    data: [{% for data in datas %}'{{ data.baron }}',{% endfor%}
                                    
                                    //x축 label에 대응되는 데이터 값
                                    ],
		
									
                                    backgroundColor: [
                                        //색상
                                        'rgba(11, 90, 19, 0.7)', //bro
                                        'rgba(22, 200, 182, 0.7)', //dk
                                        'rgba(62, 55, 252, 0.7)', //drx
                                        'rgba(181, 119, 18, 0.7)', //gen
                                        'rgba(230, 115, 15, 0.7)', //hle
                                        'rgba(238, 80, 20, 0.7)', //kdf
                                        'rgba(255, 0, 0, 0.7)', //kt
                                        'rgba(227, 187, 7, 0.7)', //lsb
                                        'rgba(136, 43, 43, 0.7)', //ns
                                        'rgba(200, 15, 15, 0.7)', //t1
                                    ],
                                    borderColor: [
                                        //경계선 색상
                                        'rgba(11, 90, 19, 1)', //bro
                                        'rgba(22, 200, 182, 1)', //dk
                                        'rgba(62, 55, 252, 1)', //drx
                                        'rgba(181, 119, 18, 1)', //gen
                                        'rgba(230, 115, 15, 1)', //hle
                                        'rgba(238, 80, 20, 1)', //kdf
                                        'rgba(255, 0, 0, 1)', //kt
                                        'rgba(227, 187, 7, 1)', //lsb
                                        'rgba(136, 43, 43, 1)', //ns
                                        'rgba(200, 15, 15, 1)', //t1
                                    ],
                                    borderWidth: 1 //경계선 굵기
                                }
                            ]
                        },
                        options: {
                                    title: {
                                                        display: true,
                                                        text: '『 게임당 평균 바론 』',
                                                        fontSize: 30,
                                                        fontColor: 'rgba(255, 255, 255, 1)'
                                                    },
                                    
                                    legend: {
                                        labels: {
                                            fontColor: 'rgba(255, 255, 255, 1)',
                                                            
                                            fontSize : 20
                                        }
                                    },
                                    scales: {
                                        xAxes: [{
                                            ticks: {
                                                fontColor: 'rgba(255, 255, 255, 1)',
                                                fontSize: 20
                                            },
                                            gridLines:{
						                        color: "rgba(255, 255, 255, 1)",
						                        lineWidth: 1
					}       
                                        }],
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true,
                                                fontColor: 'rgba(255, 255, 255, 1)',
                                                fontSize: 20
                                            },
                                            gridLines:{
						                        color: "rgba(255, 255, 255, 1)",
						                        lineWidth: 1
					}
                                }]
                            }
                        }
                    });
                </script>
                </div>
                <div class="chart">
                <canvas id="dragon" width="400" height="200"></canvas>
                <script type="text/javascript">
                    var context = document
                        .getElementById('dragon')
                        .getContext('2d');
                    var myChart = new Chart(context, {
                        type: 'bar', // 차트의 형태
                        data: { // 차트에 들어갈 데이터
                            labels: [
                                //x 축
                                {% for data in datas %}'{{ data.tname }}',{% endfor%}
                            ],
                            datasets: [
                                { //데이터
                                    label: '드래곤', //차트 제목
                                    fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                                    data: [{% for data in datas %}'{{ data.dragon }}',{% endfor%}
                                    
                                    //x축 label에 대응되는 데이터 값
                                    ],
		
									
                                    backgroundColor: [
                                        //색상
                                        'rgba(11, 90, 19, 0.7)', //bro
                                        'rgba(22, 200, 182, 0.7)', //dk
                                        'rgba(62, 55, 252, 0.7)', //drx
                                        'rgba(181, 119, 18, 0.7)', //gen
                                        'rgba(230, 115, 15, 0.7)', //hle
                                        'rgba(238, 80, 20, 0.7)', //kdf
                                        'rgba(255, 0, 0, 0.7)', //kt
                                        'rgba(227, 187, 7, 0.7)', //lsb
                                        'rgba(136, 43, 43, 0.7)', //ns
                                        'rgba(200, 15, 15, 0.7)', //t1
                                    ],
                                    borderColor: [
                                        //경계선 색상
                                        'rgba(11, 90, 19, 1)', //bro
                                        'rgba(22, 200, 182, 1)', //dk
                                        'rgba(62, 55, 252, 1)', //drx
                                        'rgba(181, 119, 18, 1)', //gen
                                        'rgba(230, 115, 15, 1)', //hle
                                        'rgba(238, 80, 20, 1)', //kdf
                                        'rgba(255, 0, 0, 1)', //kt
                                        'rgba(227, 187, 7, 1)', //lsb
                                        'rgba(136, 43, 43, 1)', //ns
                                        'rgba(200, 15, 15, 1)', //t1
                                    ],
                                    borderWidth: 1 //경계선 굵기
                                }
                            ]
                        },
                        options: {
                                    title: {
                                                display: true,
                                                text: '『 게임당 평균 드래곤 』',
                                                fontSize: 30,
                                                fontColor: 'rgba(255, 255, 255, 1)'
                                            },
                                    
                                    legend: {
                                        labels: {
                                            fontColor: 'rgba(255, 255, 255, 1)',
                                                            
                                            fontSize : 20
                                        }
                                    },
                                    scales: {
                                        xAxes: [{
                                            ticks: {
                                                fontColor: 'rgba(255, 255, 255, 1)',
                                                fontSize: 20
                                            },
                                            gridLines:{
						                        color: "rgba(255, 255, 255, 1)",
						                        lineWidth: 1
					}       
                                        }],
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true,
                                                fontColor: 'rgba(255, 255, 255, 1)',
                                                fontSize: 20
                                            },
                                            gridLines:{
						                        color: "rgba(255, 255, 255, 1)",
						                        lineWidth: 1
					}
                                }]
                            }
                        }
                    });
                </script>
                </div>
                <div class="chart">
                <canvas id="tower" width="400" height="200"></canvas>
                <script type="text/javascript">
                    var context = document
                        .getElementById('tower')
                        .getContext('2d');
                    var myChart = new Chart(context, {
                        type: 'bar', // 차트의 형태
                        data: { // 차트에 들어갈 데이터
                            labels: [
                                //x 축
                                {% for data in datas %}'{{ data.tname }}',{% endfor%}
                            ],
                            datasets: [
                                { //데이터
                                    label: '타워', //차트 제목
                                    fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                                    data: [{% for data in datas %}'{{ data.tower }}',{% endfor%}
                                    
                                    //x축 label에 대응되는 데이터 값
                                    ],
		
									
                                    backgroundColor: [
                                        //색상
                                        'rgba(11, 90, 19, 0.7)', //bro
                                        'rgba(22, 200, 182, 0.7)', //dk
                                        'rgba(62, 55, 252, 0.7)', //drx
                                        'rgba(181, 119, 18, 0.7)', //gen
                                        'rgba(230, 115, 15, 0.7)', //hle
                                        'rgba(238, 80, 20, 0.7)', //kdf
                                        'rgba(255, 0, 0, 0.7)', //kt
                                        'rgba(227, 187, 7, 0.7)', //lsb
                                        'rgba(136, 43, 43, 0.7)', //ns
                                        'rgba(200, 15, 15, 0.7)', //t1
                                    ],
                                    borderColor: [
                                        //경계선 색상
                                        'rgba(11, 90, 19, 1)', //bro
                                        'rgba(22, 200, 182, 1)', //dk
                                        'rgba(62, 55, 252, 1)', //drx
                                        'rgba(181, 119, 18, 1)', //gen
                                        'rgba(230, 115, 15, 1)', //hle
                                        'rgba(238, 80, 20, 1)', //kdf
                                        'rgba(255, 0, 0, 1)', //kt
                                        'rgba(227, 187, 7, 1)', //lsb
                                        'rgba(136, 43, 43, 1)', //ns
                                        'rgba(200, 15, 15, 1)', //t1
                                    ],
                                    borderWidth: 1 //경계선 굵기
                                }
                            ]
                        },
                        options: {
                                    title: {
                                        display: true,
                                        text: '『 게임당 평균 타워 』',
                                        fontSize: 30,
                                        fontColor: 'rgba(255, 255, 255, 1)'
                                    },
                                    
                                    legend: {
                                        labels: {
                                            fontColor: 'rgba(255, 255, 255, 1)',
                                                            
                                            fontSize : 20
                                        }
                                    },
                                    scales: {
                                        xAxes: [{
                                            ticks: {
                                                fontColor: 'rgba(255, 255, 255, 1)',
                                                fontSize: 20
                                            },
                                            gridLines:{
						                        color: "rgba(255, 255, 255, 1)",
						                        lineWidth: 1
					}       
                                        }],
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true,
                                                fontColor: 'rgba(255, 255, 255, 1)',
                                                fontSize: 20
                                            },
                                            gridLines:{
						                        color: "rgba(255, 255, 255, 1)",
						                        lineWidth: 1
					}
                                }]
                            }
                        }
                    });
                </script>
                </div>
                </div>
            </div>
				
				

    <!-- Scripts -->
			<script src="{% static 'totogg/js/jquery.min.js' %}"></script>
			<script src="{% static 'totogg/js/browser.min.js' %}"></script>
			<script src="{% static 'totogg/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'totogg/js/util.js' %}"></script>
			<script src="{% static 'totogg/js/main.js' %}"></script>
		</div>
		
	</body>
	{% include 'totogg/footer.html' %}
</html>