{% load static %}
<!-- Footer -->
<footer id="footer">
	<div class="inner">

		
		<section>
			
			<h4>정해석</h4>
			<ul class="icons">
				
				<li><a href="#" target="_blank" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
				
				<li><a href="https://github.com/Ziorpark" target="_blank" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>

				<br><li class="fas fa-phone"> 010-0000-0000</li>
				<br><li class="fas fa-envelope"> aaaa@gmail.com</li>	
			</ul>
			</section>
			<section>
			<h4>박준영</h4>
			<ul class="icons">
				
				<li><a href="https://www.instagram.com/jy__0610/" target="_blank" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
				
				<li><a href="https://github.com/jy0610" target="_blank" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>

				<br><li class="fas fa-phone"> 010-9449-6416</li>
				<br><li class="fas fa-envelope"> nhtrg@daum.net</li>		
			</ul>
			</section>
			<section>
			<h4>이건우</h4>
			<ul class="icons">
				
				<li><a href="#" target="_blank" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
				
				<li><a href="https://github.com/GenuLee" target="_blank" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>

				<br><li class="fas fa-phone"> 010-0000-0000</li>
				<br><li class="fas fa-envelope"> aaaa@gmail.com</li>		
			</ul>
			
		</section>
		<ul class="copyright">
			<li>LCK predict</li><li>Design : Team_totogg</li>

		</ul>
	</div>
</footer>