{% load static %}
<!-- Nav -->
<!-- Header -->
<header id="header">
    <div class="inner">

        <!-- Logo -->
            <a href="/home" class="logo">
                <span class="symbol"><img src="{% static 'totogg/images/lck_logo.png' %}" alt="" /></span><span class="title" style=" color: rgb(0, 0, 0)">LCK Predict</span>
            </a>

        <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

    </div>
</header>



<!-- Menu -->
<nav id="menu">
<h2>Menu</h2>
<ul>
<li><a href="/home">Home</a></li>
<li><a href="/rank">Rank</a></li>
<li><a href="/pred">Pred</a></li>
<li><a href="/chart">Chart</a></li>
<li>Team</a></li>
    <ul>
        <li><a href="/team/t1">SKT T1</a></li>
        <li><a href="/team/gen">GEN.G</a></li>
        <li><a href="/team/drx">DRX</a></li>
        <li><a href="/team/dk">담원 기아</a></li>
        <li><a href="/team/kt">KT</a></li>
        <li><a href="/team/lsb">리브 샌드박스</a></li>
        <li><a href="/team/ns">농심 레드포스</a></li>
        <li><a href="/team/kdf">광동 프릭스</a></li>
        <li><a href="/team/hle">한화생명</a></li>
        <li><a href="/team/bro">프레딧 브리온
        </a></li>
    </ul>
</ul>
</nav>