<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Data Visualization</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" href="{% static 'totogg/images/t1logo_fa.ico' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'totogg/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'totogg/css/noscript.css' %}" /></noscript>
	</head>
  <body class="is-preload">
		<div id="wrapper">
  	      {% include 'totogg/mainmenu.html' %}
			<!-- Main -->
			<div id="main">
				<div class="inner">
					<!-- Text -->
  	      <h2>2022 LCK Summer Predict</h2>
					<!-- 경기 일정 -->
					
					<div class='chart'>
						<table>
							<thead>
								<tr>
									<th scope='col'>날짜</th>
									<th scope='col'>1경기</th>
									<th scope='col'>2경기</th>
								</tr>
							</thead>
							<tbody>
					{% for matches, chart_id in gameSchedule1 %}
							<tr class="predict">
								<th scope='col'>{{ matches.date }}</th>
								<th scope='col'>
									<a href='#match__{{ chart_id.0 }}'>
									<b style="color:#1E90FF">{{ matches.g1t1 }}</b> vs 
									<b style="color:#F7464A">{{ matches.g1t2 }}</b>
									</a>
								</th>
								<th scope='col'>
									<a href='#match__{{ chart_id.1 }}'>
									<b style="color:#1E90FF">{{ matches.g2t1 }}</b> vs 
									<b style="color:#F7464A">{{ matches.g2t2 }}</b>
									</a>
								</th>
							</tr>
					{% endfor %}
							</tbody>
						</table>
					</div>

					{% for schedule, chart_id in gameSchedule %}
					<div class="chart" id="match__{{ chart_id }}">
						<h2>◈ {{ schedule.date }}</h2>
						<h2>『 {{ schedule.set }}경기 』
							<b style="color:#1E90FF">{{ schedule.team1 }}</b> vs 
							<b style="color:#F7464A">{{ schedule.team2 }}</b>
							<canvas id="match{{ chart_id }}" width="50%" height="7%"></canvas>
						</h2>
						<br>
						<canvas id="match_{{ chart_id }}" width="50%" height="15%"></canvas>
						<br>
  	    	</div>
					
					{% endfor %}

  	    </div>
			</div>
		</div>

				
				

    <!-- Scripts -->
			<script src="{% static 'totogg/js/jquery.min.js' %}"></script>
			<script src="{% static 'totogg/js/browser.min.js' %}"></script>
			<script src="{% static 'totogg/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'totogg/js/util.js' %}"></script>
			<script src="{% static 'totogg/js/main.js' %}"></script>
			<script src="{% static 'totogg/js/Chart.min.js' %}"></script>
            <script src="{% static 'totogg/js/chartjs-plugin-datalabels.js' %}"></script>
		</div>
		
	</body>
	{% include 'totogg/footer.html' %}
</html>
<!-- match1 -->
<script type="text/javascript">
	var num = 0
	{% for t1_data, t2_data in data_zips %}
	var matchid = 'match' + String(num)
	var match_id = 'match_' + String(num)
	var context = document
		.getElementById(matchid)
		.getContext('2d');
    var myChart = new Chart(context, {
		type: 'horizontalBar', // 차트의 형태
		data: { // 차트에 들어갈 데이터
			labels: ["predict"],
			datasets: [{
				label: '{{ t1_data.tname }}',
				backgroundColor: "#1E90FF",
				data: [70]
				}, {
				label: '{{ t2_data.tname }}',
				backgroundColor: "#F7464A",
				data: [30]
				
			}]
		},
		options: {
			plugins: {
               datalabels: {
                	color: ['#fff'],
                	anchor: 'center',
					font: { 
                  family: 'Comic Sans MS',
    							size: 30,
    							weight: 'bold',
    							lineHeight: 1.2,    							
    						}
                	},
            	},
                    
			legend: {
				labels: {
					fontColor: "White",
					fontSize: 15
				}
			},
			scales: {
    		xAxes: [ {
				stacked: true,
				display: false,
    		} ],
    		yAxes: [ {
					stacked: true,
					display: false,
    		} ]
    			}
                                
                    
        }
    });

	
	var context = document
		.getElementById(match_id)
		.getContext('2d');
	var myChart = new Chart(context, {
		type: 'bar', // 차트의 형태
		data: { // 차트에 들어갈 데이터
			labels: ["Gold", "Tot_Dam", "Kill", "Tower", "Inhibitor", "Dragon", "Baron","Total_CS"],
			datasets: [{
				label: '{{ t1_data.tname }}',
				backgroundColor: "#1E90FF",
				data: [
				{{ t1_data.gold }}, {{ t1_data.tot_dam }}, {{ t1_data.kill }}, {{ t1_data.tower }}, {{ t1_data.inhibitor }}, {{ t1_data.dragon }}, {{ t1_data.baron }}, {{ t1_data.total_cs }}
				]
				
				 }, {
				label: '{{ t2_data.tname }}',
				backgroundColor: "#F7464A",
				data: [
				{{ t2_data.gold }}, {{ t2_data.tot_dam }}, {{ t2_data.kill }}, {{ t2_data.tower }}, {{ t2_data.inhibitor }}, {{ t2_data.dragon }}, {{ t2_data.baron }}, {{ t2_data.total_cs }}
				]
				}],
			
				
			  

		},
		options: {
						plugins: {
            			   datalabels: {
								display: false,
            			    	color: '#fff',
            			    	anchor: 'center',
								font: { 
            			                    family: 'Comic Sans MS',
    										size: 10,
    										weight: 'bold',
    										lineHeight: 1.2,    							
    									}
            			    	},
            				},
                        title: {
                            display: true,
                            text: '『 Feature Data 』',
                            fontFamily: 'Comic Sans MS',
    						fontSize: 30,
    						fontWeight: 'bold',    
                            fontColor: 'rgba(255, 255, 255, 1)'
                        },
                        legend: {
                        display: false
                       
                    
                    },
                    scales: {
                        xAxes: [ {
                            ticks: {
                                fontFamily: 'Comic Sans MS',
                                fontStyle: 'bold',
                                fontColor: 'rgba(255, 255, 255, 1)',
								fontSize: 15,
                            },
                            gridLines:{
						        color: "rgba(255, 255, 255, 1)",
						        lineWidth: 1
                            }
                        } ],
                        yAxes: [ {
                            ticks: {
								beginAtZero: true,
								max :1,
                                fontFamily: 'Comic Sans MS',
                                fontStyle: 'bold',
                                fontColor: 'rgba(255, 255, 255, 1)'
                            },
                            gridLines:{
						        color: "rgba(255, 255, 255, 1)",
						        lineWidth: 1
                            }
                        } ]
                            }
                                
                    
        }
    });
		num += 1
	{% endfor %}
</script>
