<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Data Visualization</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" href="{% static 'totogg/images/t1logo_fa.ico' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'totogg/css/main.css' %}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<noscript><link rel="stylesheet" href="{% static 'totogg/css/noscript.css' %}" /></noscript>
	</head>
    <body class="is-preload">
		<div id="wrapper">
        {% include 'totogg/mainmenu.html' %}
		<!-- Main -->
		<div id="main">
			<div class="inner">
				<!-- Text -->
                <h2>승률(%)</h2>
                <canvas id="myChart" width="400" height="200"></canvas>
                <script type="text/javascript">
                    var context = document
                        .getElementById('myChart')
                        .getContext('2d');
                    var myChart = new Chart(context, {
                        type: 'bar', // 차트의 형태
                        data: { // 차트에 들어갈 데이터
                            labels: [
                                //x 축
                                'gen', 'drx', 't1', 'lsb', 'dk', 'kdf', 'ns', 'kt', 'hle', 'bro'
                            ],
                            datasets: [
                                { //데이터
                                    label: '승률', //차트 제목
                                    fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                                    data: [100, 80, 80, 60, 50, 40, 40, 25, 20, 0
                                    
                                    //x축 label에 대응되는 데이터 값
                                    ],
                                    backgroundColor: [
                                        //색상
                                        'rgba(181, 119, 18, 0.2)', //gen
                                        'rgba(62, 55, 252, 0.2)', //drx
                                        'rgba(200, 15, 15, 0.2)', //t1
                                        'rgba(227, 187, 7, 0.2)', //lsb
                                        'rgba(22, 200, 182, 0.2)', //dk
                                        'rgba(238, 80, 20, 0.2)', //kdf
                                        'rgba(136, 43, 43, 0.2)', //ns
                                        'rgba(255, 0, 0, 0.2)', //kt
                                        'rgba(230, 115, 15, 0.2)', //hle
                                        'rgba(11, 90, 19, 0.2)' //bro
                                        
                                        
                                    ],
                                    borderColor: [
                                        //경계선 색상
                                        'rgba(181, 119, 18, 1)',
                                        'rgba(62, 55, 252, 1)',
                                        'rgba(200, 15, 15, 1)',
                                        'rgba(227, 187, 7, 1)',
                                        'rgba(22, 200, 182, 1)',
                                        'rgba(238, 80, 20, 1)',
                                        'rgba(136, 43, 43, 1)',
                                        'rgba(255, 0, 0, 1)',
                                        'rgba(230, 115, 15, 1)',
                                        'rgba(11, 90, 19, 1)'
                                       
                                    ],
                                    borderWidth: 1 //경계선 굵기
                                }/* ,
                                {
                                    label: 'test2',
                                    fill: false,
                                    data: [
                                        8, 34, 12, 24
                                    ],
                                    backgroundColor: 'rgb(157, 109, 12)',
                                    borderColor: 'rgb(157, 109, 12)'
                                } */
                            ]
                        },
                        options: {
                            scales: {
                                yAxes: [
                                    {
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }
                                ]
                            }
                        }
                    });
                </script>

                
                <h2>팀 총합 킬</h2>
                <h2>골드 획득량</h2>
                <h2>바론</h2>
                <h2>드래곤</h2>
                <h2>타워</h2>
                </div>
            </div>
				
				

    <!-- Scripts -->
			<script src="{% static 'totogg/js/jquery.min.js' %}"></script>
			<script src="{% static 'totogg/js/browser.min.js' %}"></script>
			<script src="{% static 'totogg/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'totogg/js/util.js' %}"></script>
			<script src="{% static 'totogg/js/main.js' %}"></script>
		</div>
		
	</body>
	
</html>