<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    {% for predict in predicts %}
    <h1>predicts.team1: {{ predict.team1 }}</h1>
    <h1>predicts.team2:{{ predict.team2 }}</h1>
    
    <hr>
    <h1>predicts.proba1:{{ predict.proba1 }}</h1>
    <h1>predicts.proba2:{{ predict.proba2 }}</h1>
    <hr>
    {% endfor %}
</body>
</html>